<title>
	#{get 'title' /}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/bootstrap/css/bootstrap.css'}">
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
<div id="header">
	<div id="logo">
		BlogSpot
	</div>
	<ul id="tools">
		<li>
			<a href="#"></a>
		</li>
		<a class="btn btn-success" href="@{Admin.index()}" id="Login">LogIn!<i class="icon-off"></i></a>
	</ul>
	<div id="title">
    <span class="about">About this blog</span>
    <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
    <h2>${blogBaseline}</h2>
</div>
</div>
<div id="main">
	#{doLayout /}
</div>
<p id="footer">
	BlogSpot 2013
</p>